.header {
  padding: 20px;
  background-color: lightgray;

  &__container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(2, 40px);
    row-gap: 30px;
  }

  &__controls {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
  }
}

