<mat-card class="video__card" [appBorderColor]="snippet.publishedAt">
  <img
    class="video__img"
    ngSrc="{{ maxres.url }}"
    width="{{ maxres.width }}"
    height="{{ maxres.height }}"
    alt="{{ snippet.title }}" />
  <app-video-statistics [app-video-statistics]="statistics"></app-video-statistics>
  <mat-card-title class="video__title">{{ snippet.title }}</mat-card-title>
  <mat-card-actions class="video__actions">
    <button class="video__btn" mat-raised-button color="primary" routerLink="{{ video.id }}">more..</button>
  </mat-card-actions>
</mat-card>
