:host {
  border-radius: 13px;
  text-align: center;
}

.video__card {
  padding: 20px;
  border-bottom: 4px solid transparent;
}

.video__stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.video__stat {
  display: flex;
  align-self: center;
  gap: 10px;
}

.video__title {
  margin: 20px auto;
}

.video__actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
