<header class="header" *ngIf="showHeader" [ngClass]="{ noSettings: showSettings }">
  <div class="container">
    <div class="header__container">
      <div class="header__controls">
        <button class="header__logo" routerLink="/youtube"><span class="header__icon"></span>></button>
        <app-search-form></app-search-form>
        <app-settings (changeVisibility)="onSettingVisibilityChange()"></app-settings>
      </div>
      <app-user></app-user>
      <app-filter *ngIf="showSettings"></app-filter>
    </div>
  </div>
</header>
