<form class="create" [formGroup]="createForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Img</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Link video</mat-label>
    <input matInput />
  </mat-form-field>
  <button class="create__btn" mat-raised-button color="primary">Create card</button>
</form>
